@model WebProgrammingProject.Models.ClubUser
@inject LanguageService language
@{
    ViewData["Title"] = "Delete";
}

<div class="jumbotron mt-5">
    <h1>@language.Getkey("Delete")</h1>

<h3>@language.Getkey("DeleteWarning")</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @language.Getkey("UserName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.NameSurname)
        </dd class>
        <dt class = "col-sm-2">
           @language.Getkey("ClubName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.ClubName)
        </dd class>
        <dt class = "col-sm-2">
            @language.Getkey("Mission")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserMission)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("JoinDate")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=" @language.Getkey("Delete")" class="btn btn-secondary" /> |
        <a asp-action="Index" class="btn btn-secondary"> @language.Getkey("BacktoList")</a>
    </form>
</div>

</div>