@using Microsoft.AspNetCore.Identity
@model IEnumerable<WebProgrammingProject.Models.ClubUser>
@inject LanguageService language
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>@language.Getkey("MyClubs")</h1>

<p>
    <a asp-action="Create">@language.Getkey("JoinClub")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                   @language.Getkey("UserName")
            </th>
            <th>
                   @language.Getkey("ClubName")
            </th>
            <th>
                   @language.Getkey("MyMission")
            </th>
            <th>
                   @language.Getkey("JoinDate")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.NameSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@language.Getkey("Edit")</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@language.Getkey("Details")</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@language.Getkey("Delete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
