@model WebProgrammingProject.Models.Advertisement
@inject LanguageService language
@{
    ViewData["Title"] = "Delete";
}

<h1>@language.Getkey("AdvertDelete")</h1>

<h3>@language.Getkey("DeleteWarning")</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @language.Getkey("Title")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Description")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @language.Getkey("Advertiser")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.NameSurname)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@language.Getkey("Delete")" class="btn btn-danger" /> |
        <a asp-action="Index">@language.Getkey("BacktoList")</a>
    </form>
</div>
