@model IEnumerable<WebProgrammingProject.Models.Advertisement>
@inject LanguageService language

@{
    ViewData["Title"] = "Index";
}

<h1>@language.Getkey("Advertisements")</h1>
             @if(User.IsInRole("Administrator")|| User.IsInRole("User")){
                 <p>
    <a asp-action="Create">@language.Getkey("AdvertCreate")</a>
</p>
             }



<table class="table">
    <thead>
        <tr>
            <th>
                @language.Getkey("Title")
            </th>
            <th>
                @language.Getkey("Description")
            </th>
            <th>
                @language.Getkey("Advertiser")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.NameSurname)
            </td>
            <td>
            @if(User.IsInRole("Administrator")){
                <a asp-action="Details" asp-route-id="@item.Id">@language.Getkey("Details")</a>
                <a asp-action="Delete" asp-route-id="@item.Id">@language.Getkey("Delete")</a>
             }


                <a asp-action="Details" asp-route-id="@item.Id">@language.Getkey("Details")</a> 
             @if(User.IsInRole("Administrator")|| User.IsInRole("User")){
                                                 <a asp-action="Create" asp-controller="JobsUser" asp-route-id="@item.Id">@language.Getkey("Apply")</a>


             }
            </td>
        </tr>
}
    </tbody>
</table>
