@model WebProgrammingProject.Models.JobsUser
@inject LanguageService language
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>  @language.Getkey("DeleteWarning")</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @language.Getkey("UserName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName.NameSurname)
        </dd class>
        <dt class = "col-sm-2">
            @language.Getkey("Title")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Title)
        </dd class>
        <dt class = "col-sm-2">
            @language.Getkey("IsAccepted")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JobsUserId" />
        <input type="submit" value="@language.Getkey("Delete")" class="btn btn-danger" /> |
        <a asp-action="Index">  @language.Getkey("BacktoList")</a>
    </form>
</div>
