@using Microsoft.AspNetCore.Identity
@model IEnumerable<WebProgrammingProject.Models.JobsUser>
@inject SignInManager<User> SignInManager



@inject LanguageService language
@{
    ViewData["Title"] = "Index";
}

<h1>@language.Getkey("MyJobs")</h1>
<br />
@*<p>
    <a asp-action="Create">@language.Getkey("CreateJobsUser")</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @language.Getkey("User")
            </th>
            <th>
                @language.Getkey("Title")
            </th>
            <th>
                @language.Getkey("IsAccepted")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName.NameSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advertisement.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobsUserId">@language.Getkey("Edit")</a> |
                <a asp-action="Details" asp-route-id="@item.JobsUserId">@language.Getkey("Details")</a> |
                <a asp-action="Delete" asp-route-id="@item.JobsUserId">@language.Getkey("Delete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
