@model WebProgrammingProject.Models.Club
@inject LanguageService language
@{
    ViewData["Title"] = "Create";
}


<h1>@language.Getkey("ClubCreate")</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubName" class="control-label">@language.Getkey("ClubName")</label>
                <input asp-for="ClubName" class="form-control" />
                <span asp-validation-for="ClubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundationDate" class="control-label">@language.Getkey("FoundationDate")</label>
                <input asp-for="FoundationDate" class="form-control" />
                <span asp-validation-for="FoundationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresidentEmail" class="control-label">@language.Getkey("PresidentEmail")</label>
                <input asp-for="PresidentEmail" class="form-control" />
                <span asp-validation-for="PresidentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@language.Getkey("Create")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@language.Getkey("BacktoList")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
