@model WebProgrammingProject.Models.Club
@inject LanguageService language
@{
    ViewData["Title"] = "Details";
}

<h1>@language.Getkey("Details")</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @language.Getkey("ClubName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt class = "col-sm-2">@language.Getkey("FoundationDate")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundationDate)
        </dd>
        <dt class = "col-sm-2">
           @language.Getkey("Advertiser")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresidentEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@language.Getkey("Edit")</a> |
    <a asp-action="Index">@language.Getkey("BacktoList")</a>
</div>
