@model IEnumerable<WebProgrammingProject.Models.Club>
@inject LanguageService language
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron mt-5">
    <h1>    @language.Getkey("Clubs")</h1>
          @if(User.IsInRole("Administrator")){
        <p>
            <a asp-action="Create" class="btn btn-secondary" >@language.Getkey("ClubCreate")</a>
        </p>
                }
           else if (User.IsInRole("User"))
                    {
                        <p>
                            <a asp-controller="ClubUser" class="btn btn-secondary" asp-action="Create">@language.Getkey("JoinClub")</a>
                        </p>
                    }



<table class="table">
    <thead>
        <tr>
            <th>
                @language.Getkey("ClubName")
            </th>
            <th>
                @language.Getkey("FoundationDate")
            </th>
            <th>
                @language.Getkey("PresidentEmail")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresidentEmail)
            </td>
            <td>
             @if(User.IsInRole("Administrator")){

                <a asp-action="Edit" class="btn btn-secondary"  asp-route-id="@item.Id">@language.Getkey("Edit")</a>
                        <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.Id">@language.Getkey("Delete")</a>

                    }



                <a asp-action="Details"class="btn btn-secondary"  asp-route-id="@item.Id">@language.Getkey("Details")</a>

            </td>
        </tr>
}
    </tbody>
</table>

</div>